body{
  text-align: center;
  margin: 25%;
}
h1{
  font-style: italic;
}
button{
  width: 95px;
  height: 86px;
  background: url(../img/Captura\ de\ pantalla\ 2024-10-25\ 153756.png);
  background-position-y: -177px;
}
.button1{
  background-position-x: -421px;
}
.button2{
  background-position-x: 213px;
}
.button3{
  background-position-x: 316px;
}
.button4{
  background-position-x: -115px;
}
.button5{
  background-position-x: -7px;
}
